.appNav {
  display: flex;
  justify-content: space-between;
}


.appContainer {
  padding:  20px;
    width: 1000;
    background-color: gray;
    font-size: 30px;
    font-weight: 500;
}

.navLink {
  text-decoration: none;
  color:black;
}

.navLink:nth-child(2n + 1) {
  margin-right: 20px;
}