.appNav {
  display: flex;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
}


.appContainer {
  padding:  20px;
    width: 1000;
    background-color: #628dde;
    font-size: 30px;
    font-weight: 500;
}

.navLink {
  text-decoration: none;
  color:black;
}

.navLink:nth-child(2n + 1) {
  margin-right: 20px;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

