.wrapper {
    max-width: 750px;
    margin: 0 auto; 
    padding-top: 30px; 
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    background-image: url("images/two-people-man-woman-character-talking-smart-phone-online-communication-email-message-concept-video-call-business-chat-242889380.webp");
   
}

.title {
    font-weight:500;
    font-size: 30px;
}
