.wrapper {
    max-width: 450px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
   
}

.title {
    font-weight:500;
    font-size: 30px;
}