.wrapper {
    max-width: 600px;
    margin: 0 auto; 
    padding-top: 30px; 
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    /* background-image: url("images/istockphoto-1160018654-612x612.jpg");
    background-repeat: no-repeat; */
   
}

.title {
    font-weight:500;
    font-size: 30px;
}
