.filterBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  padding: 20px;
  border-style: hidden;
  border-color: black;
  background-color: white;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 6px 14px 4px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 6px 14px 4px rgba(0, 0, 0, 0);
  font-weight: 500;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.8;
}

.filterInput {
  outline: 20;
  outline-color: #000000;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  background-color: white;
}

.label {
  font-weight: 500;
  font-size: 30px;
}
