.contactsList {
   width: 500px;
    overflow-y: hidden;
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    background-color: white;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    border-color: black;
    border-style: hidden;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 6px 14px 4px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 6px 14px 4px rgba(0, 0, 0, 0);
    font-family: "Times New Roman", Times, serif;
}

.contactItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delButton {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 100px;
    line-height: normal;
    margin-right: 10px;
}

.delButton:hover {
    background-color: #628dde;
    cursor: pointer;
}